<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SimpleSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
       <SimpleSearch.Properties.Settings>
            <setting name="MainWindowPlacement" serializeAs="String">
                <value/>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>p:\</value>
            </setting>
            <setting name="SearchString" serializeAs="String">
                <value/>
            </setting>
            <setting name="Extensions" serializeAs="String">
                <value>.cs;.xml;.cpp;.xaml</value>
            </setting>
            <setting name="SearchFilenamesOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrowseHistory" serializeAs="String">
                <value/>
            </setting>
            <setting name="CaseSensitiveSearch" serializeAs="String">
                <value>True</value>
            </setting>
        </SimpleSearch.Properties.Settings>
    </userSettings>
</configuration>
